* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#contenitore {
    position: absolute;
    top: 0;
    left: 40%;
    width: 400px;
    height: auto;
    background-color: aqua;
    border: 2px solid black;
}

#numeriPC {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 40px;
}

#contenitore2 {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 400px;
    height: auto;
    background-color: aqua;
    border: 2px solid black;
}

#numeriUSER {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 30px;
}


